@use "../../styles/variables"as *;

.containerGeneral {
    @include flexCenter(column);
    gap: 16px;
    max-width: 92%;
    margin: 20px auto;
}

@media screen and (min-width:1024px) {

    .containerGeneral {
        gap: 32px;
        max-width: 1200px;
        margin: 50px auto;
    }

}